details.se summary {list-style: none}
details.se summary::-webkit-details-marker {display: none; }
details.se summary{padding-left:0;}
details.se[open] summary svg { transform: rotate(-90deg);}
details.se summary svg {transition: all 0.3s;}
details.se[open] summary{border-bottom:1px solid #ccc}
details.se  svg {
	vertical-align:top;
	height: 1.5em;
	width: 1.5em;
}

details.se div{margin:0.2rem}
