details.se[open] summary ~ * {
	animation: open 0.3s ease-in-out;
}

@keyframes .se open {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
details.se summary::-webkit-details-marker {
	display: none;
}

details.se summary {
	width: 100%;
	padding: 0.5rem 0;
	border-top: 1px solid #ccc;
	position: relative;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 300;
	list-style: none;
}

details.se summary:after {
	content: "+";
/*	color: black;*/
	position: absolute;
	font-size: 1.75rem;
	line-height: 0;
	margin-top: 0.75rem;
	right: 0;
	font-weight: 200;
	transform-origin: center;
	transition: 200ms linear;
}
details.se[open] summary:after {
	transform: rotate(45deg);
	font-size: 2rem;
}
details.se summary {
	outline: 0;
}
/*
details.se p {
	font-size: 0.95rem;
	margin: 0 0 1rem;
	padding-top: 1rem;
}
*/