.se-section{ /*wrapp a single section*/
	margin-bottom:5px;
} 
.se-btn{
	opacity:0;  /* autohide the edit button on section */
	float:right;
	margin-right:6px;
}
.se-section:hover .se-btn{
	opacity:1;
}

.se-simple-textarea{
	margin-top: 6px; 
	padding: 6px;

	width:100%;
	min-height: 40px;
	resize: none; /* vertical user can resize vertically, but width is fixed */
}

.se-sectionbody {
 margin-top:0.5rem; /* set distance to edit/done/cancel buttons*/
}

/* Important */
.se-section details summary {
  cursor: pointer;
}

.se-section details summary > * {
  display: inline;
}

/*
.se-section details[open] {
margin-bottom: 35px;
}
*/