.se-section{ }
.se-btn{
	opacity:1;
	float:right;
	margin-right:6px;
}
.se-section:hover .se-btn{
	opacity:1;
}

.se-simple-textarea{
	margin-top: 6px; 
	padding: 6px;
	
	width:100%;
	min-height: 40px;
	resize: none; /* vertical user can resize vertically, but width is fixed */
}