.se-simple-textarea{
	/*margin-top: 6px; */
	padding: 6px;

	width:100%;
	min-height: 40px;
	resize: none; /* vertical user can resize vertically, but width is fixed */
}

/* for main editor when appears in the sidebar */
/*.se-section-edit .tc-edit-texteditor { width:100%; }*/