/* svg arrow setting in $:/plugins/kookma/section/styles/arrow */
.se-section details summary {list-style: none}
.se-section details summary::-webkit-details-marker {display: none; }
.se-section details summary{padding-left:0;}
.se-section details[open] summary svg { transform: rotate(-90deg);}
.se-section details summary svg {transition: all 0.3s;}
.se-section details[open] summary{border-bottom:1px solid #ccc}

.se-section details summary  svg.se-arrow {
	opacity:1;
}

/*
.se-section details[open] summary  svg.se-arrow {
	opacity:0;
}
.se-section details[open] summary:hover  svg.se-arrow {
	opacity:1;
}
*/
