.se-section :focus {
	outline: none;
}

div.se-section  + div.se-section  {
	clear: both;
}

.se-section div.seperator {
	width: 7.5em;
	height: 0.07em;
	margin-left: -1.8em;
}

div.se-section {
	border-bottom: 0.07em solid #ededed;   /* has color (1)*/
	padding: 1em 0em;
} 

div.se-section:last-child {
	border: initial;
}

.se-section details > summary {
	list-style: none;
}

.se-section summary::-webkit-details-marker {
	display: none;
}

.se-section details summary h1,
.se-section details summary h2,
.se-section details summary h3,
.se-section details summary h4,
.se-section details summary h5
{
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
}

.se-section details[open] .se-sectionbody {
	border-left: 2px solid #e31b1b;    /* has color (2)*/
	margin-left: 40px;
	padding-left: 25px;
	opacity: 100;
}

.se-section details[open] summary:after {
	content: "-";
	font-size: 3.2em;
	margin: -0.5em 0.14em 0 0;
	font-weight: 300;
}

.se-section summary:after {
	background: transparent;
	border-radius: 0.3em;
	content: "+";
	float: left;
	font-size: 1.8em;
	font-weight: 700;
	margin: -0.3em 0.25em 0 0;
	padding: 0;
	text-align: center;
	width: 25px;
}

/* color of summary and other elements*/
.se-section div.seperator, 
.se-section summary:hover,
.se-section details[open] summary,
.se-section summary:after {
	color: #e31b1b;    /*original #e31b1b; */   /* has color (2)*/
}
